{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class='container brand-text'>
    <div>
        <!-- show the username which is an atribute of the object user -->
        <h1>{{ user.username }}</h2>
    </div>
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Update profile</legend>
            {{ form|crispy }}
        </fieldset>
        <div>
            <button type="submit">Update</button>
        </div>
    </form>
</div>
{% endblock %}