html {
    overflow-x: hidden; 
  }
  
body {
    color: #e4e4e4;
    padding-top: 50px;
    /* background-color: rgb(141, 233, 141); */
    /* background-color: rgb(26, 75, 26); */
    background-color: rgb(91, 126, 208);
    background-image: linear-gradient(to right, rgb(91, 126, 208) , #A421B7);
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
}

h1 {
    font-weight: 300;
    font-family: 'PT Sans Caption', sans-serif;
    color: #e4e4e4;
}
    .post {
        background-color: #c4c4c4;
        color: #616060;
    }

    .post-title {
        color: inherit
    }

    .go-btn {
        border: none;
        background-color: rgb(86, 165, 175);
    }

    .go-btn:hover {
        background-color: rgb(54, 104, 110);
        border-color: rgb(54, 104, 110);
    }

    .end-post {
        align-self: flex-end;
    }

    .brand-text {
        color:rgb(3, 3, 3);
    }
    .footer {
        background-color: #212529;
        position: sticky;
        top: 100%;
      }
    
    .reply-button {
        width: auto;
        height: 75%;
        margin-top: 3.5%;
    }

    .post-preview {
        transition: 0.5s;
        color: #616060;
        background-color: #ffeaca;
    }

    .post-preview a {
        color:#616060
    }

    .post-preview:hover {
        background-color: #fcd08e;
        transition: 0.5s;
    }

    .create-post {
        color: #e4e4e4;
        width: 70%;
    }

    .reply_button {
        color: inherit;
        text-decoration:none;
        transition: 1s;
    }
    .reply_button:hover {
        transition: 1s;
    }

    .card-title {
        font-family: 'Ubuntu', sans-serif;
    }

    button.active.nav-link {
        background-color: inherit!important;
        border-bottom: none;
    }