{% load static %}
<!-- header -->
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="">
</head>
<body>
    <nav>
        <a href="">Home</a>
        <a href="">Home</a>
        <a href="">Home</a>
        <a href="">Home</a>
        <a href="">Home</a>
        <a href="">Home</a>
        <a href="">Home</a>
        <input type="text">
    </nav>


{% block content %}
<!-- This is where the specific part of the html page goes -->
{% endblock %}

<!-- footer -->

</body>
</html>