{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class='container brand-text'>
    <div>
        <form method="POST" class='d-flex justify-content-center'>
            <div class='row create-post'>
                <!-- This is needed for encryption. Dont worry about it, Django handles it -->
                {% csrf_token %}

                <fieldset class='mb-3' id='post_form'>
                    <legend>Make a post</legend>
                    <!-- Insert the form -->
                    {{ form|crispy }}
                    <div id='tabs' name='tabs'>
                        <input id='indicator' style='display: none;' name='indicator' value=0>
                        {% if reply %}
                            <input type="text" name="reply" id="reply" value={{reply}} class='d-none'>
                        {% endif %}
                        {% include "builder/tab_form.html" %}
                    </div>
                    <button onclick="add_tab(this)" type='button' class='btn btn-outline-secondary mt-4'>Add tab</button>
                </fieldset>
                <div>
                    <button type="submit" class='btn btn-success'>Create post</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="{% static 'js/make_post.js' %}" defer></script>
{% endblock %}
