{% extends 'base.html' %}
{% block content %}
<div class='container'>
    <div class='row border p-5 post rounded'>
        <!-- Main post -->
        <h1 class='text-center m-4 post-title'>{{main_post.title}}</h1>
        <p class='text-end'>Author: {{main_post.author}}</p>
        <hr>
        <p>{{main_post.text}}</p>
        <!-- Tabs of the post -->
        <nav class='mt-5'>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                {% for tab in tabs %}
                    {% if forloop.first %}
                        <button class="nav-link active" id="nav-{{tab.title|cut:' ' }}-tab" data-bs-toggle="tab" data-bs-target="#nav-{{tab.title|cut:' ' }}" type="button" role="tab" aria-controls="nav-{{tab.title|cut:' ' }}" aria-selected="true">{{tab.title}}</button>
                    {% else %}
                        <button class="nav-link" id="nav-{{tab.title|cut:' '}}-tab" data-bs-toggle="tab" data-bs-target="#nav-{{tab.title|cut:' ' }}" type="button" role="tab" aria-controls="nav-{{tab.title|cut:' ' }}" aria-selected="false">{{tab.title}}</button>
                    {% endif %}
                {% endfor %}
            </div>
        </nav>
        <!-- Content of the tabs -->
        <div class="tab-content py-4 px-5" id="nav-tabContent">
            {% for tab in tabs %}
                {% if forloop.first %}
                    <div class="tab-pane fade show active" id="nav-{{tab.title|cut:' ' }}" role="tabpanel" aria-labelledby="nav-{{tab.title|cut:' '}}-tab">
                        {% include 'builder/tabs_content.html' %}
                    </div>
                {% else %}
                    <div class="tab-pane fade" id="nav-{{tab.title|cut:' ' }}" role="tabpanel" aria-labelledby="nav-{{tab.title|cut:' ' }}-tab">
                        {% include 'builder/tabs_content.html' %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}