{% load hero_comments %}
<div class="card m-1 post-preview" style="width: 18rem;" onclick="{% if selected == 'focused' %}focused(this){% endif %}">
    <div class="card-body">
        <div class='row'>
            <h5 class="card-title">{{post.title}}</h5>
            <small>{{post.author}}</small> 
        </div>
        <hr>
        <p class="card-text">{{post.text}}</p>
        <div class='d-flex justify-content-end'>
            <a href="{% url 'post' id=post.id %}" class='btn btn-primary text-light'>Go</a>
        </div>
        {% if user == post.author %}
                <form action="{% url 'delete_post' %}" method="GET" class='d-flex mt-2 justify-content-end'>
                    <input type="text" name="post_id" id="post_id" value='{{post.id}}' style='display: none;'>
                    <input type="text" name="location" id="location" value='{{request.path}}' style='display: none;'>
                    <button class='btn btn-danger' class='button' onclick="return confirm('Are you sure you want to delete this post?');">Delete</button>
                </form>
        {% endif %}
    </div>
    <div id='clicked' class='justify-content-center mb-3 mx-2' style='display: none;'>
        {% get_tabs post %}
    </div>
</div>