{% load hero_comments %}
<div class="card m-4 p-3 post-preview rounded reply-post" style="width: 20rem; {% if selected == 'focused' %}hover(this){% endif %}" onclick="{% if selected == 'focused' %}focused(this){% endif %}">
    <div class="card-body">
        <div class='row'>
            <h5 class="card-title my-0 text-center">
                <a href="{% url 'post' id=post.id %}" class='text-decoration-none fs-3'>{{post.title}}</a>
            </h5>
            {% comment %}
            <small class='mt-1'>{{post.author}}</small> 
            {% endcomment %}
        </div>
        <hr>
        <div class='row'>
            <p>{{post.text|markdown_parse}}</p>
        </div>
       
        {% comment %}
            {% if user == post.author %}
                <form action="{% url 'delete_post' %}" method="GET" class='d-flex mt-2 justify-content-end end-post'>
                    <input type="text" name="post_id" id="post_id" value='{{post.id}}' style='display: none;'>
                    <input type="text" name="location" id="location" value='{{request.path}}' style='display: none;'>
                    <button class='btn btn-danger' class='button' onclick="return confirm('Are you sure you want to delete this post?');">Delete</button>
                </form>
            {% endif %}
        {% endcomment %}
    </div>
    <div id='clicked' class='row mb-3 mx-2' style='display: none;'>
        {% get_tabs post %}
    </div>
</div>