<div class='tab_form my-5' id='tab' name='tab' style='display:none;'>
    <div class='row'>
        <div class='col'>
            <h5>Tab content</h5>
        </div>
        <div class="d-flex col justify-content-end">
            <button type='button' class='btn btn-danger' onclick="delete_tab(this)">Delete</button>
        </div>
    </div>
    <hr>
    <label for="tab_title">Title</label>
    <br>
    <input type="text" name='tab_title' id='tab_title' style='width:100%;'>
    <label for="tab_text">Content</label>
    <br>
    <textarea name='tab_text' id='tab_text' style='width:100%; height: 15rem;'></textarea>
</div>